// Card Styles
// B.E.M

.card {
 width: 350px; /* pour la demo */
 &__header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
 }
 &__body{ padding: 1em;}
 &__body > * + * {
  margin-top: .5em;
 }

 &__footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
 }
 
} 
.card__list{
 margin-top: 1em;
 list-style: none;

 & > * + * {
  margin-top: .5em;

 }

 &__item{
  border-bottom: 1px solid gray;
  padding: 0.5rem 1rem .25rem 0px;

  &:last-child{
   padding-top: 1rem;
   border-bottom: 1px solid gray;
 }
}


 
.card__button {
 text-decoration: none;
 display: inline-block;
 color: #fff;
 padding: .7rem 1rem ;
 color: hsl(0, 0%, 25%);
 transition:  color 250ms ease-in-out;
 
 &:hover {
  color: hsl(0, 0%, 65%);
 }
}

}