// Card Styles
// B.E.M

.card {
 width: 350px; /* pour la demo */
 &__header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
 }
 &__body{ padding: 1em;}
 &__body > * + * {
  margin-top: .5em;
 }

 &__footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
 }
 
}
.card__button {
 text-decoration: none;
 display: inline-block;
 color: #fff;
 padding: .7rem 1rem ;
 background-color: hsl(0, 0%, 25%);
 transition:  background-color 250ms ease-in-out;
 
 &:hover {
  background-color: hsl(0, 0%, 65%);
 }
}

